/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
    font-size: 36px;
    line-height: 2px;
    /*font-weight: 100;*/
    /*font-family: Times New Roman, serif;*/
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 1100px;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/*My Shit*/
div.CostCenter
{
    position: relative;
    left: 200px;
}

div.Resources
{
    position: relative;
    left: 420px;
    bottom: 778px;
}

div.TaskDescription
{
    position: relative;
    left: 640px;
    bottom: 1556px;
}

div.TotalBaseProgram
{
    position: relative;
    left: 860px;
    bottom: 2333px;
}

div.TotalOptions
{
    position: relative;
    left: 1080px;
    bottom: 3111px;
}

.formSize
{
    height: 1000px;
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F5F9FF), color-stop(1, #E0E0E0));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #F5F9FF 0%, #E0E0E0 100%);
}

.submitButton
{
    position: relative;
    bottom: 3800px;
    left: 1137px;
    width: 150px;
    /* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #7D7D7D 0%, #232329 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #7D7D7D 0%, #232329 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #7D7D7D 0%, #232329 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #7D7D7D), color-stop(1, #232329));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #7D7D7D 0%, #232329 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #7D7D7D 0%, #232329 100%);
}

.Hours
{
    position: relative;
    background: Orange;
    height: 628px;
    width: 205px;
    border-color: Black;
    bottom: 1199px;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #F7F6F5), color-stop(1, #D48879));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #F7F6F5 0%, #D48879 100%);
}

.Money
{
    position: relative;
    background: Orange;
    height: 359px;
    width: 205px;
    border-color: Black;
    bottom: 1193px;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #F7F6F5), color-stop(1, #D48879));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #F7F6F5 0%, #D48879 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #F7F6F5 0%, #D48879 100%);
}

.Hours p
{
    text-align: center;
    color: Black;
    position: relative;
    top: 300px;
}
.Money p
{
    text-align: center;
    color: Black;
    position: relative;
    top: 172px;
}

.centerText
{
    position: relative;
    left: 40px;
}

/**/

td
{
    text-align: center;
    color: Black;
}

.moveRight
{
    position:relative;
    left: 200px;
}

table, tbody th
{
   
      /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F5F9FF), color-stop(1, #E0E0E0));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #F5F9FF 0%, #E0E0E0 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #F5F9FF 0%, #E0E0E0 100%);
}

p
{
    color: Black;
}

#btnSubmit
{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    color: White;
    text-align:center;
    background-image: linear-gradient(bottom, rgb(191,101,101) 18%, rgb(168,40,68) 54%, rgb(209,102,126) 100%);
background-image: -o-linear-gradient(bottom, rgb(191,101,101) 18%, rgb(168,40,68) 54%, rgb(209,102,126) 100%);
background-image: -moz-linear-gradient(bottom, rgb(191,101,101) 18%, rgb(168,40,68) 54%, rgb(209,102,126) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(191,101,101) 18%, rgb(168,40,68) 54%, rgb(209,102,126) 100%);
background-image: -ms-linear-gradient(bottom, rgb(191,101,101) 18%, rgb(168,40,68) 54%, rgb(209,102,126) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.18, rgb(191,101,101)),
	color-stop(0.54, rgb(168,40,68)),
	color-stop(1, rgb(209,102,126))
);
}

.color
{
   /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #C4B2AB), color-stop(1, #DB8983));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #C4B2AB 0%, #DB8983 100%);
}

.yellowIt
{
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #F7FACF 0%, #FBFF91 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #F7FACF 0%, #FBFF91 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #F7FACF 0%, #FBFF91 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F7FACF), color-stop(1, #FBFF91));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #F7FACF 0%, #FBFF91 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #F7FACF 0%, #FBFF91 100%);
}

.redIt
{
      /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #C4B2AB), color-stop(1, #DB8983));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #C4B2AB 0%, #DB8983 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #C4B2AB 0%, #DB8983 100%);
}

